$desktop-width-rectange: 280px;
$mobile-width-rectange: 40px;
$desktop-bg-color-rectange: #6A45FF;
$mobile-bg-color-rectange: rgba(106, 69, 255, 0.24);

$desktop-max-width-wrapper: 440px;
$mobile-max-width-wrapper: 375px;

$desktop-cta-image-width: 750px;
$mobile-cta-image-width: 311px;

$mobile-img-vertical-gap: 24px;
$mobile-imgwrap-horizontal-padding: 32px;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.stickyheader {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}